<%- include('../partials/header') %>


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="h1 display-4">Administration</h2>
        <p class="lead">Modification du thème</p>
        <a href="/admin/">
            <span>retour</span>
        </a>
    </div>

    <form action="/admin/updatetag" method="POST" class="form-admin">

        <%if (locals.error) {%>
            <div class="alert alert-danger">
                <p><%=error%></p>
            </div>
        <% } %>

        <%if (locals.message) {%>
            <div class="alert alert-success">
                <p><%=message%></p>
                <a href="/tags">
                    <p>Voir la liste des thèmes</p>
                </a>
            </div>
        <% } %>


        <div class="form1">
            <select name="oldname" id="oldname">
                <option value="">--- Choisissez un thème à modifier ---</option>
                <% for (let theme of tags) { %>
                <option value="<%= theme.name %>"><%= theme.name %></option>
                <% } %>
            </select>
            <input type="newname" class="form-control <%if (locals.errorField === "newname"){%>is-invalid<%}%>" id="newname" name="newname"
                aria-describedby="tagNameHelp" placeholder="Nouveau thème">
            <button type="submit" class="btn btn-primary formstyle">Modifier</button>
        </div>

    </form>


<%- include('../partials/footer') %>